section{
	width: 100%;
    height: 665px;
}

#home{
   background-image: url("/images/book-books-bookshelf-159621.jpg");

   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}