

#about{
   width: 100%;
   height: 680px;
   background-color: #2EAEEF;
}

#about h1{
   font-family: Berlin Sans FB;
   font-weight: bold;
   font-size: 133px;
   padding-top: 17%;
}

footer{
	background-color: rgba(125,125,125,.5);
}


/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {


}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

   
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

	#about{
	    height: auto;
	}

}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

	#about{
	    height: auto;
	}


}

    
@media only screen and (min-width: 320px) and (max-width: 479px) {
    
	#about{
	    height: 755px;
	    background-size: contain;
	}

	#about h1{
	    font-size: 75px;
    	padding-top: 83%;
	}


}